.card1 {
  border-radius: 3px;
  background-color: #ff0000;
  width: 33.33%;
  min-height: 263px;
}

.card2 {
  border-radius: 3px;
  background-color: #282d30;
  width: 33.33%;
  min-height: 263px;
}

.card3 {
  border-radius: 3px;
  background-color: #fbfbfb;
  width: 33.33%;
  min-height: 263px;
}
