.barChart-tooltip {
  padding: 4px 6px;
  width: auto;
  text-align: center;
  background-color: #e60000;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.barChart-legend {
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  gap: 50px;

  li::marker {
    font-size: 1.6em;
  }
}
