.lineChart-tooltip {
  padding: 4px 6px;
  width: auto;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  font-size: 12px;
  font-weight: 700;

  p {
    margin: 5px 0;
  }
}

.title {
  margin: 0 25px;
  width: 60%;
  color: #ffffff;
  opacity: 0.6;
  font-weight: 700;
}
