.horizontalNav {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding-left: 28px;
  height: 91px;
  background-color: #020203;
  filter: brightness(150%);

  img {
    width: 178px;
    height: 61px;
  }

  ul {
    display: flex;
    justify-content: space-around;
    width: 100%;

    li {
      display: block;

      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}
