.modal {
  position: absolute;
  top: 6%;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;

  .modal-content {
    padding: 20px;
    width: 600px;
    height: auto;
    background-color: $beige;

    .modal-btn {
      text-align: right;
    }

    .tech-infos {
      text-align: center;

      li {
        font-size: 1.2rem;
        font-weight: 700;
        color: $primary;
        display: block;
      }
    }
  }
}
