.verticalNav {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
  width: 91px;
  min-height: 780px;
  height: 100%;
  z-index: 0;
  background-color: #020203;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 150px 0 0 0;
    padding-left: 0;

    li {
      display: block;
      border-radius: 6px;
      width: 64px;
      height: 64px;
      background: #ffffff;

      a {
        justify-content: center;
        align-items: center;
        display: flex;
        width: inherit;
        height: inherit;

        img {
          width: 36px;
          height: 32px;
        }
      }
    }
  }

  .copyright {
    transform: rotate(-90deg);
    text-align: center;
    width: max-content;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ffffff;
  }
}
